{
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier", "jsx-a11y"],
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"plugin:jsx-a11y/recommended",
		"airbnb/hooks",
		"airbnb"
	],
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"node": true,
		"jest": true
	},
	"rules": {
		"@typescript-eslint/ban-ts-ignore": "off",
		"@typescript-eslint/indent": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-namespace": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
		"arrow-parens": "off",
		"capitalized-comments": ["error", "always"],
		"comma-dangle": ["error", "never"],
		"implicit-arrow-linebreak": "off",
		"import/extensions": "off",
		"import/named": "off",
		"import/no-named-default": "off",
		"import/no-unresolved": "off",
		"import/no-useless-path-segments": "off",
		"import/prefer-default-export": "off",
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"jsx-a11y/label-has-associated-control": ["error", { "assert": "either" }],
		"max-len": ["error", { "code": 120 }],
		"no-console": ["error", { "allow": ["info", "error"] }],
		"no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
		"no-tabs": [1, { "allowIndentationTabs": true }],
		"no-underscore-dangle": "off",
		"object-curly-newline": ["error", { "multiline": true }],
		"operator-linebreak": "off",
		"prettier/prettier": "error",
		"quotes": ["error", "double"],
		"react-hooks/exhaustive-deps": "off",
		"react/destructuring-assignment": "off",
		"react/jsx-filename-extension": "off",
		"react/jsx-indent": "off",
		"react/jsx-indent-props": ["error", "tab"],
		"react/jsx-one-expression-per-line": "off",
		"react/jsx-props-no-spreading": "off",
		"react/prop-types": "off"
	}
}
